/* Reset */
html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainHeader h1 {
  position: absolute;
  color: white;
  margin-left: 1em;
  text-transform: uppercase;
  z-index: 2;
}

.mainHeader p {
    text-align: center;
}
.sub-title {
  position: absolute;
  justify-content: center;
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 1.2rem;
  margin-left: 1.5em;
  z-index: 2;
}

strong {
  font-weight: 700;
}
