@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container::after {
    right: -3%;
  }
}
/* For mobile devices */
@media screen and (min-width: 320px) and (max-width: 568px) {
  .coverImg {
    max-width: 320px;
  }
  .aboutMeP {
    text-align: center;
  }
  .meImg {
    max-width: 320px;
    width: 55%;
    margin: 7% 20% 7% 13%;
  }
  .projectsImg, .projectsImg2 {
    width: 70%;
    margin: -5% 9% 5% 15%
  }
  .projectsImgH3 {
    margin-left: 23%;
    margin-bottom: 10%;
  }
  .projectsImgH3Two{
    margin-left: 16%;
    margin-bottom: 10%;
  }
  .projectsImgPOne {
    margin-left: 2%;
    font-size: 1.3em;
  }
  .mainH1 {
    top: 45%;
    white-space: nowrap;
    text-align: center;
    font-size: 1.4em;
   }
   .sub-title{
     font-size: 1.5em;
     margin-bottom: 0.5em;
     white-space: nowrap;
   }
   .footer a {
     margin-left: 2%;
     margin-right: 2%;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .mainH1 {
    top: 45%;
    white-space: nowrap;
    text-align: center;
    font-size: 1.5em;
   }
   .sub-title{
     font-size: 1.5em;
     margin-bottom: 0.5em;
     white-space: nowrap;
   }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .projectsImg, .projectsImg2 {
    width: 70%;
    margin: -5% 10% 5% 15%
  }
  .projectsImgH3 {
    margin-left: 30%;
    margin-bottom: 10%;
  }
  .projectsImgH3Two{
    margin-left: 18%;
    margin-bottom: 10%;
  }
  .projectsImgPOne {
    margin-left: 2%;
  }
  .mainH1 {
    top: 45%;
    white-space: nowrap;
    text-align: center;
    font-size: 1.5em;
   }
   .sub-title{
     font-size: 1.5em;
     margin-bottom: 0.5em;
     white-space: nowrap;
   }
   .footer {
     height: 5em;
   }
   .navbar {
     width: calc(110vw - 1em);
     border-radius: 0;
   }
   .nav-item {
     margin: 0 2em 0 0;
     font-size: 1em;
   }
}

@media screen and (min-width: 411px) and (max-width: 731px) {
  .mainH1 {
    font-size: 1.8em;
  }
  .navbar {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mainH1 {
    white-space: nowrap;
    text-align: center;
    font-size: 2em;
   }
  .projectsImg, .projectsImg2 {
    width: 42%;
    margin-top: -3%;
    margin-left: 7%;
    margin-bottom: 12%;
  }
  .projectsImgH3, .projectsImgH3Two {
    margin-left: 55%;
    margin-bottom: 1%;
  }
  .projectsImgPOne, .projectsImgPTwo {
    margin: 2% 4% 0 0%;
  }
  .projectOne, .projectTwo {
    margin: 4%;
  }
  .projectIcon {
    margin-left: 61%;
  }
  .experience {
    margin-top: 20%;
  }
  .right{
    right: -50%;
  }
  .left {
    left: -13%;
  }
  .aboutMeP {
    text-align: justify;
    font-size: 1em;
  }
  img {
    width: 100%;
  }
  .footer a {
    margin-left: 2%;
    margin-right: 2%;
  }
  .navbar {
    width: calc(100vw - 1em);
    border-radius: 0 0 1em 1em;
  }
  .aboutMeH1 h1{
    top: 3vh;
    left: 5vw;
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){
  .mainH1 {
    white-space: nowrap;
    text-align: center;
    font-size: 3em;
   }
   .projectsImg2 {
     margin-top: -4%;
   }
   .projectsImgH3Two {
     margin-top: 20%;
   }
   .projectsImgPOne{
     margin: 2% 3% 0 55%;
   }
   .projectOne {
     margin: 5%;
    }
   .projectsDiv {
     padding-bottom: 5%;
   }
   .left {
     left: -10%;
   }
   .container::after {
     right: -6%;
   }
   .projectIcon {
     width: 31%;
   }
   .aboutMeP {
     text-align: justify;
     font-size: 1.3em;
   }
   img {
     width: 100%;
   }
   .footer a {
     margin-left: 2%;
     margin-right: 2%;
   }
   .navbar {
     width: calc(100vw - 1em);
     border-radius: 0 0 1em 1em;
   }
}

@media only screen and (min-width: 1366px){
  .mainH1 {
    font-size: 3em;
    letter-spacing: 8px;
  }
  .aboutMeH1 h1{
    top: 15vh;
    left: 5vw;
    font-weight: 900;
    font-size: 1.3em;
  }
  .projectsImg, .projectsImg2 {
    width: 27%;
    margin-left: 7%;
  }
  .projectsImg {
    margin-top: -6%;
  }
  .projectsImg2 {
    margin-top: -8%;
  }
  .projectsImgH3, .projectsImgH3Two {
    margin-left: 50%;
  }
  .projectsImgPOne, .projectsImgPTwo {
    margin: 0% 5% 0 50%;
  }
  .projectsImgPTwo{
    margin-top: 6%;
  }
  .projectsImgH3Two{
    margin-top: 9%
  }
  .left {
    left: -8%;
  }
  .right {
    left: 50%;
  }
  .content ul {
    font-size: 1.5em;
  }
  .projectIcon {
    width: 46%;
  }
  .footer a {
    margin-left: 2%;
    margin-right: 2%;
  }
  img {
    width: 100%;
  }
  .navbar {
    width: calc(100vw - 1em);
    border-radius: 0 0 1em 1em;
  }
}
