.header {
  position: relative;
  background-color: #f4f1ea;
  padding: 0 0 12% 0;
}

.aboutMeH1 {
  color: black;
  font-size: 2em;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  text-align: center;
}

.meImg {
  float: right;
  border-radius: 50%;
  border: 5px solid #a5a5a55e;
}

.aboutMeP {
  color: #313636;
  font-family: 'Old Standard TT', serif;
  margin: 5% 8% 0 8%;
  letter-spacing: 0.5px;
}
