.flex {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 2%
}

@media screen and (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
  .header #aboutMe {
    flex: 3 1;
  }
  .aboutMeH1 h1{
    top: 1vh;
    left: 38vw;
    font-size: 1em;
  }
}

.header {
  background-color: #f4f1ea;
  padding: 1% 0 1% 0;
  position: relative;
}
.aboutMeH1 h1{
  position: absolute;
  color: black;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
}

.header p {
  flex: 3;
  align-self: center;
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;
}

.header #aboutMe {
  flex: 2;
}

.header img {
  display: block;
  align-self: flex-end;
  width: 70%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #a5a5a55e;
}
